---
// Import the Section and ResponsiveImage components
import Section from "./Section.astro";
import ResponsiveImage from "./ResponsiveImage.astro";
---

<Section
       title="Nuevo Model Y"
       subtitle="Las entregas comienzan en marzo"
       color="white"
>
       <div
              class="max-w-xl flex flex-row w-full gap-2 px-10 xl:flex xl:flex-row xl:justify-center xl:gap-x-4"
              slot="footer"
       >
              <a
                     class="bg-blue-600 text-xs rounded font-small text-white px-4 py-1
                     inline-flex hover:bg-blue-800 hover:text-white transition-colors justify-center items-center flex-1
                     md:px-12 md:py-2 focus:outline-none border-none"
                     href="#"
              >
                     Encargar
              </a>
              <a
                     class="bg-white text-xs rounded font-small text-black px-4 py-1
                     hover:bg-black hover:text-white transition-colors inline-flex justify-center items-center flex-1
                     md:px-12 md:py-2 focus:outline-none border-none"
                     href="/modely"
              >
                     Saber más
              </a>
       </div>

       <ResponsiveImage
              slot="background"
              desktopSrc="/Homepage-Model-Y-2-Desktop-EMEA-LHD.webp"
              mobileSrc="/Homepage-Model-Y-2-Mobile-EMEA-LHD.webp"
              altText="Model Y Hero"
       />
</Section>
