---
import Section from "./Section.astro";
const { color } = Astro.props;
const textColor = `text-${color}`;
---

<Section title="Model X" subtitle="" color="white">
       <div
              class="max-w-xl flex flex-row w-full gap-2 px-10 justify-end justify-end flex-grow"
              slot="footer"
       >
              <a
                     class="bg-blue-600 text-xs rounded font-small text-white px-4 py-1
                     inline-flex hover:bg-blue-800 hover:text-white transition-colors justify-center items-center flex-1
                     md:px-12 md:py-2"
                     href="#"
              >
                     Encargar
              </a>
              <a
                     class="bg-white text-xs rounded font-small text-black px-4 py-1
                     hover:bg-black hover:text-white transition-colors inline-flex justify-center items-center flex-1
                     md:px-12 md:py-2"
                     href="#"
              >
                     Prueba de conducción
              </a>
       </div>

       <div slot="background" class="relative w-full h-full">
              <!-- Show only on large screens (desktop) -->
              <img
                     class="hidden md:block object-cover w-full h-full"
                     src="/Homepage-Model-X-Desktop-US.avif"
                     alt="Model Y Desktop"
              />

              <!-- Show only on small screens (mobile) -->
              <img
                     class="block md:hidden object-cover w-full h-full"
                     src="/Homepage-Model-X-Mobile-US.avif"
                     alt="Model Y Mobile"
              />
       </div>
</Section>
