---
import Section from "./Section.astro";
---

<Section title="Model 3" subtitle="" :showAnchor="true" color="white">
       <div
       class="flex flex-col w-full gap-y-2 px-10 xl:flex xl:flex-row xl:justify-center xl:gap-x-4"
       slot="footer"
>
       <a
              class="bg-gray-600 text-sm rounded font-medium text-white px-12 py-2
       inline-flex hover:bg-black hover:text-white transition-colors justify-center items-center"
              href="#"
              >Pedido personalizado
       </a>
       <a
              class="bg-white text-sm rounded font-medium text-black px-12 py-2
       hover:bg-black hover:text-white transition-colors inline-flex justify-center items-center"
              href="#"
              >Prueba de conducción
       </a>
</div>

       <img
              width="110%"
              height="110%"
              slot="background"
              src="/Model3.avif"
              alt="tesla model 3"
              class="h-screen w-screen object-cover object-center"
       />

       <a
              class={`text-white text-sm p-5 underline transition-colors`}
              href="#"
              slot="footer-anchor"
       >
              Disponible con moves III
       </a>
</Section>
